############
# This is an example HAProxy configuration file demonstrating how the AtScale
# services should be configured when AtScale is fronted with an external HAProxy
# load balancer.
#
# HAProxy config docs: https://cbonte.github.io/haproxy-dconv/1.7/configuration.html
############

####
# HAProxy Defaults
####
global
  maxconn 256
  ssl-server-verify none

defaults
  option forwardfor except 127.0.0.1
  mode http
  timeout connect 5000ms
  timeout client 2d
  timeout server 2d
  # timeout tunnel needed for websockets
  timeout tunnel 3600s
  #default-server init-addr last,libc,none

####
# AtScale Service Frontends
####
frontend design_center_front
  bind *:10500
  default_backend design_center_back
frontend sidecar_server_front
  bind *:10501
  default_backend sidecar_server_back
frontend engine_http_front
  bind *:10502
  default_backend engine_http_back
frontend auth_front
  bind *:10503
  default_backend auth_back
frontend account_front
  bind *:10504
  default_backend account_back
frontend engine_wamp_front
  bind *:10508
  default_backend engine_wamp_back
frontend servicecontrol_front
  bind *:10516
  default_backend servicecontrol_back

frontend engine_tcp_front_11111
  mode tcp
  bind *:11111
  default_backend engine_tcp_back_11111
frontend engine_tcp_front_11112
  mode tcp
  bind *:11112
  default_backend engine_tcp_back_11112
frontend engine_tcp_front_11113
  mode tcp
  bind *:11113
  default_backend engine_tcp_back_11113
frontend engine_tcp_front_11114
  mode tcp
  bind *:11114
  default_backend engine_tcp_back_11114
frontend engine_tcp_front_11115
  mode tcp
  bind *:11115
  default_backend engine_tcp_back_11115

####
# AtScale Service Backends
####
backend design_center_back
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:10500 check
  server node4.support.localdomain node4.support.localdomain:10500 check
backend sidecar_server_back
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:10501 check
  server node4.support.localdomain node4.support.localdomain:10501 check
backend engine_http_back
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:10502 check
  server node4.support.localdomain node4.support.localdomain:10502 check
backend auth_back
  server node3.support.localdomain node3.support.localdomain:10503 check
  server node4.support.localdomain node4.support.localdomain:10503 check
backend account_back
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:10504 check
  server node4.support.localdomain node4.support.localdomain:10504 check
backend engine_wamp_back
  server node3.support.localdomain node3.support.localdomain:10508 check
  server node4.support.localdomain node4.support.localdomain:10508 check
backend servicecontrol_back
  option httpchk GET /status HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:10516 check
  server node4.support.localdomain node4.support.localdomain:10516 check backup

backend engine_tcp_back_11111
  mode tcp
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:11111 check port 10502
  server node4.support.localdomain node4.support.localdomain:11111 check port 10502
backend engine_tcp_back_11112
  mode tcp
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:11112 check port 10502
  server node4.support.localdomain node4.support.localdomain:11112 check port 10502
backend engine_tcp_back_11113
  mode tcp
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:11113 check port 10502
  server node4.support.localdomain node4.support.localdomain:11113 check port 10502
backend engine_tcp_back_11114
  mode tcp
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:11114 check port 10502
  server node4.support.localdomain node4.support.localdomain:11114 check port 10502
backend engine_tcp_back_11115
  mode tcp
  option httpchk GET /ping HTTP/1.1\r\nHost:\ www
  server node3.support.localdomain node3.support.localdomain:11115 check port 10502
  server node4.support.localdomain node4.support.localdomain:11115 check port 10502

####
# HAProxy Stats
####
listen stats
   bind *:10498
   mode http
   stats enable
   stats uri /
   stats auth admin:admin
