Host *
  # example of keeping pinging server (eg: Azure)
  ServerAliveInterval 20

Host 10.* 172.* 192.168.* *.localdomain node* localhost
  #ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  User root
  #IdentityFile /path/to/root/id_rsa
  # To not show "Warning: Permanently added ..." (is QUIET better?)
  LogLevel ERROR
