Host *
  ServerAliveInterval 20

Host 10.* 172.* 192.168.* *.localdomain node* localhost
  #ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  LogLevel QUIET

Host *.cloudapp.net
  ServerAliveInterval 20
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host dh1 dockerhost1
  User hosako

Host node* *.localdomain localhost
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  #IdentityFile /path/to/root/id_rsa
  User root

Host *.compute.amazonaws.com
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  IdentityFile /Users/hosako/.ssh/aws_hosako-kp.pem

Host osakos.com *.osakos.com
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  IdentityFile /Users/hosako/.ssh/hajime_id_rsa
  User hajime
  # To not show Warning: Permanently added (QUIET?) ...
  LogLevel ERROR
