.*
!.gitignore
tmp/*
lib/*
out/*
backup/*
/venv/
*.class
*.original
*.pyc
java/SyntaxTest.class
java/SSLMutualAuth/target/*
java/WriteTest/dependency-reduced-pom.xml
java/WriteTest/WriteTest.iml
java/WriteTest/target/*
java/groovy/*.jar
